body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #8e0f53, teal);
}

.container {
    display: flex;
    justify-content: space-around; /* Adjust spacing */
    width: 100%;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    padding: 30px;
    width: 45%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: #1850b9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4b2b;
}

p {
    color: #333;
    cursor: pointer;
    margin-top: 10px;
}

